.note {
  color: white;
}
.field {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: white;
}
.field input {
  color: black;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background: white;
  box-shadow: 5px 8px 20px 0 rgba(1, 255, 242, 0.3);
  border-radius: 5px;
}
