td {
  padding: 5px;
  color: white;
  text-align: center;
  border: 1px solid white;
  width: 100%;
}
tr {
  color: white;
  display: flex;
  border: 1px solid white;
  justify-content: space-around;
  align-items: center;
}
th {
  text-align: center;
  padding: 10px;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 6rem;
  border-radius: 10px;
  background-color: black;
  box-shadow: 5px 8px 15px 0 rgba(1, 255, 242, 0.2);
}
